<%- include('templates/head') %> 
<body dir="rtl">
    <%- include('templates/nav-bar') %>

   <main class="about">
    <div class="about-wrapper">
        <h1>איריס בן-יוסף</h1>
        <h3 class="sub-header">פסלת</h3>
        <div class="line-up"></div>
       <p class="about-p">עובדת עם חימר, בטון, ברונזה, ופולימור.
        יוצרת מתוך התבוננות בסביבה, ומתוך הזדהות עם סיטואציות אנושיות, אותם מעבירה לחומר.
        הפסלים שלה נולדו מסיפורי חיים ומעוררים אמוציות במתבוננים בהם.
        התובנות אליהם הגיעה במסע חייה - כולנו בני אדם דומים למרות היתנו שונים וכולנו זקוקים לתמיכה ואהבה.
       </p>
       <br>
       <p class="about-p">
        האמנית איריס בן יוסף - אשה נמרצת, מלאת אנרגיה ומסובבת נפש.
        האמנות היא התבלין של חייה וזה מה שמניע אותה לקום כל בוקרב בשמחה.
        איריס משתמשת ממגוון שפות אמנותיות היטערו -הנאה
        וכל היצירות שלה -לרכישה.
       </p>
       <div class="line-down"></div>
    </div>

   </main>

    <%- include('templates/footer') %>
</body>
</html>