<footer class="footer">
  <div class="footer-nav">
    <p>כל הזכויות שמורות איריס בן-יוסף &copy;</p>
    <div class="icons">
      <a href="https://www.facebook.com/profile.php?id=100014648868360"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-pinterest"></i></a>
    </div>
  </div>
</footer>
