<nav class="navbar">
  <div class="logo-img">
    <a href="/"
      ><img src="/images/logo/logo4-mini.png" alt="logo" height="80"
    /></a>
  </div>
  <input type="checkbox" id="checkbox_toggle" />
  <label for="checkbox_toggle" class="hamburger">&#9776;</label>
  <div class="nav-links">
   
      <a href="/" class="link">בית</a>
      <a href="/gallery" class="link">עבודות</a>
      <a href="/about" class="link">אודות</a>
      <a href="/contact" class="link">צור קשר</a>

  </div>
</nav>
